// color style
// $color-back :#fafafa;
$color-3d : #3d3d3d;
$color-aa : #aaaaaa;
$color-ca : #ffffff;
$color-black : #000000;

// size style
$size-content:1190px;
$size-full: 100%;
$size-souce :10px;
$content:$size-content;
$full:$size-full;

// font-size style
$size-small:12px;
$size-normal: 15px;
$size-larger: 30px;

// 사용변수

$main:$color-3d;
$sub: $color-aa;
$white: $color-ca;
$back: $color-black;


$content:$size-content;
$full:$size-full;
$souce: $size-souce;
